USE [master]
GO
/****** Object:  Database [520_Bekbotov_ex]    Script Date: 15.04.2024 17:39:12 ******/
CREATE DATABASE [520_Bekbotov_ex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'520_Bekbotov_ex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\520_Bekbotov_ex.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'520_Bekbotov_ex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\520_Bekbotov_ex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [520_Bekbotov_ex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [520_Bekbotov_ex]
GO
/****** Object:  Table [dbo].[City]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Code2] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Name_Eng] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[City_ID] [int] NOT NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jury]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jury](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Tel] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Gender] [nvarchar](1) NOT NULL,
	[SpecialityID] [int] NOT NULL,
 CONSTRAINT [PK_Jury] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderators]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderators](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](1) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Tel] [nvarchar](max) NOT NULL,
	[SpecialityID] [int] NOT NULL,
	[Event] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Moderators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizers]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizers](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[Country_ID] [int] NOT NULL,
	[Tel] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Gender] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Organizers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Patronymic] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Date_birth] [date] NOT NULL,
	[CountryID] [int] NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Gender] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Participants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialities]    Script Date: 15.04.2024 17:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_Specialities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Country] ([ID], [Code], [Code2], [Name], [Name_Eng]) VALUES (252, N'AB', 895, N'Абхазия', N'Abkhazia')
INSERT [dbo].[Country] ([ID], [Code], [Code2], [Name], [Name_Eng]) VALUES (253, N'AU', 36, N'Австралия', N'Australia')
INSERT [dbo].[Country] ([ID], [Code], [Code2], [Name], [Name_Eng]) VALUES (254, N'AT', 40, N'Австрия', N'Austria')
GO
INSERT [dbo].[Jury] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [CountryID], [Tel], [Password], [Photo], [Gender], [SpecialityID]) VALUES (21, N'Верона', N'Галкина', N'Васильевна', N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 252, N'7(880)544-61-83', N'HHikbP', N'foto21.jpg', N'ж', 3)
INSERT [dbo].[Jury] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [CountryID], [Tel], [Password], [Photo], [Gender], [SpecialityID]) VALUES (22, N'Айлин', N'Герасимова', N'Ефимовна', N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 252, N'7(835)478-61-60', N'TuhRzy', N'foto22.jpg', N'ж', 3)
INSERT [dbo].[Jury] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [CountryID], [Tel], [Password], [Photo], [Gender], [SpecialityID]) VALUES (23, N'Августин', N'Большаков', N'Алексеевич', N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 252, N'7(173)770-55-13', N'4Y83lz', N'foto23.jpg', N'м', 1)
GO
INSERT [dbo].[Moderators] ([ID], [Name], [Surname], [Patronymic], [Gender], [Mail], [Date_birth], [CountryID], [Tel], [SpecialityID], [Event], [Password], [Photo]) VALUES (1, N'Виктория', N'Царева', N'Давидовна', N'ж', N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 252, N'7(567)103-73-32', 1, N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Moderators] ([ID], [Name], [Surname], [Patronymic], [Gender], [Mail], [Date_birth], [CountryID], [Tel], [SpecialityID], [Event], [Password], [Photo]) VALUES (2, N'Дмитрий', N'Зорин', N'Маркович', N'м', N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 252, N'7(79)644-01-06', 1, N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Moderators] ([ID], [Name], [Surname], [Patronymic], [Gender], [Mail], [Date_birth], [CountryID], [Tel], [SpecialityID], [Event], [Password], [Photo]) VALUES (3, N'Анна', N'Зотова', N'Тимуровна', N'ж', N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 252, N'7(488)643-19-98', 2, N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg')
GO
INSERT [dbo].[Organizers] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (1, N'Всеволод', N'Васильев', N'Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 252, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', N'м')
INSERT [dbo].[Organizers] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (2, N'Фёдор', N'Новиков', N'Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 252, N'7(6562)925-01-77', N'Tj78jXeH68', N'foto2.jpg', N'м')
INSERT [dbo].[Organizers] ([ID], [Name], [Surname], [Patronymic], [Mail], [Date_birth], [Country_ID], [Tel], [Password], [Photo], [Gender]) VALUES (3, N'Владислава', N'Фролова', N'Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 252, N'7(12)981-33-56', N'DF9a8cJf82', N'foto3.jpg', N'ж')
GO
INSERT [dbo].[Participants] ([ID], [Name], [Surname], [Patronymic], [Email], [Date_birth], [CountryID], [Tel], [Password], [Photo], [Gender]) VALUES (81, N'Нора', N'Ершова', N'Федотовна', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 252, N'+7 (960) 424-07-11', N'tKKevv8%', N'foto60.jpg', N'ж')
INSERT [dbo].[Participants] ([ID], [Name], [Surname], [Patronymic], [Email], [Date_birth], [CountryID], [Tel], [Password], [Photo], [Gender]) VALUES (82, N'Жанна', N'Афанасьева', N'Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 252, N'+7 (930) 661-69-31', N'huSfHm4$', N'foto61.jpg', N'ж')
INSERT [dbo].[Participants] ([ID], [Name], [Surname], [Patronymic], [Email], [Date_birth], [CountryID], [Tel], [Password], [Photo], [Gender]) VALUES (83, N'Рая', N'Крылова', N'Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 252, N'+7 (957) 265-60-68', N'TlUwMw77%', N'foto62.jpg', N'ж')
GO
INSERT [dbo].[Specialities] ([ID], [Title]) VALUES (1, N'ИТ')
INSERT [dbo].[Specialities] ([ID], [Title]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Specialities] ([ID], [Title]) VALUES (3, N'Дизайн')
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_City] FOREIGN KEY([City_ID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_City]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Country]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Specialities] FOREIGN KEY([SpecialityID])
REFERENCES [dbo].[Specialities] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Specialities]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Country]
GO
ALTER TABLE [dbo].[Moderators]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Specialities] FOREIGN KEY([SpecialityID])
REFERENCES [dbo].[Specialities] ([ID])
GO
ALTER TABLE [dbo].[Moderators] CHECK CONSTRAINT [FK_Moderators_Specialities]
GO
ALTER TABLE [dbo].[Organizers]  WITH CHECK ADD  CONSTRAINT [FK_Organizers_Country] FOREIGN KEY([Country_ID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Organizers] CHECK CONSTRAINT [FK_Organizers_Country]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participants_Country]
GO
USE [master]
GO
